@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #1849c6;
  --secondary-color: #ffbe0b;
  --deep-orange: #fb5607;
  --light-orange: #ff7b00;
}

@tailwind base {
  html {
    font-family: Poppins, "Courier New", Courier, monospace;
  }
}
@tailwind components;
@tailwind utilities;
